---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Fitness by Trenton Kennedy";
---

<Layout title={pageTitle}>
    <div>
        <h2 class="text-4xl mb-4 font-bold">The Athlete</h2>
        <i>
            Ever since running my first marathon in high school I have found meaning in life through taking on physical challenges I normally would say no to. This page is meant to capture all past and planned fitness challenges. You can also follow my fitness persuits on <a href="https://www.strava.com/athletes/358449">Strava</a>
            <a href="https://www.alltrails.com/members/trenton-k-1?ref=header">
                AllTrails
            </a>
        </i>
        
        <section class="my-10">
            - Upcoming races - PR's - all past races archive - Recommended
            resources
        </section>
    </div>
</Layout>

<style>
    h2 {
        font-family: "Bona Nova", serif;
    }
</style>
