---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
const pageTitle = "Fitness by Trenton Kennedy";
---

<Layout title={pageTitle}>
    <div>
        <h2 class="text-4xl font-bold">The Engineer</h2>
        <p>
            Online I have been the lead engineer for startups like
            EquityMultiple and Logly, I've worked for Fortune 100 companies
            including Ogilvy and Twitter, and lately I've been exploring the
            potential for AI to improve how we interact with existing
            applications.
        </p>

        <div class="my-10">
           - How we built Logly
           - My go to tech stack
           - Submitting feedback to open source in a productive manner
           - Lessons learned during my time at EffectiveUI
           - Lessons learned during my time at EquityMultiple
           - Lessons learned during my time at Twitter
        </div>
    </div>
</Layout>

<style>
    h2 {
        font-family: "Bona Nova", serif;
    }
</style>