---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Fitness by Trenton Kennedy";
---

<Layout title={pageTitle}>
    <div>
        <h1 class="text-5xl font-bold">Fitness</h1>
        <p></p>
        <span class="flex space-x-4">
            <p>Follow:</p>
            <a href="https://www.strava.com/athletes/358449">Strava</a>
            <a href="https://www.alltrails.com/members/trenton-k-1?ref=header">
                AllTrails
            </a>
        </span>
        <section class="my-10">
            <h2 class="text-4xl">Hyrox</h2>
            <table>
                <thead>
                    <tr>
                        <th>Race</th>
                        <th>Division</th>
                        <th>Official Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> Anaheim 2024 </td>
                        <td> Doubles</td>
                    </tr>
                    <tr>
                        <td> Houston 2024 </td>
                        <td> Individual </td>
                    </tr>
                    <tr>
                        <td> Dallas 2023 </td>
                        <td> Doubles </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="my-10">
            <h2 class="text-4xl">Marathon</h2>
            <table>
                <thead>
                    <tr>
                        <th> Race </th>
                        <th> Distance </th>
                        <th> Official Time </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2007 Dallas White Rock</td>
                    </tr>
                    <tr>
                        <td>2009 OKC Memorial</td>
                    </tr>
                    <tr>
                        <td>2010 OKC Memorial</td>
                    </tr>
                    <tr>
                        <td>2011 OKC Memorial</td>
                    </tr>
                    <tr>
                        <td>2023 Wineglass</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section class="my-10">
            <h2 class="text-4xl">Triathlon</h2>
            <table>
            
            </table>
        </section>
    </div>
</Layout>
