---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
const pageTitle = "Fitness by Trenton Kennedy";
---

<Layout title={pageTitle}>
    <div>
        <h1 class="text-5xl font-bold">Fitness</h1>
        <p>
            Offline I have completed 12 triathlons, 8 marathons, 5 Hyrox
            competitions, and explored hundreds of miles on some of the most
            amazing trails throughout North America. I am a certified Wilderness
            First Responder and encourage everyone to spend more time in the
            great outdoors.
        </p>
        <div class="my-10">
            <p>running score</p>
        </div>
    </div>
</Layout>
