---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Trenton Kennedy">
    <div class="flex max-w-[960px] mx-auto my-4">
        <div class="lg:w-1/2 lg:px-20">
            <h1>Trenton Kennedy</h1>
            <img src="/headshot.jpg" alt="" class="mt-10" />
        </div>
        <div class="lg:w-2/3 lg:px-10 lg:pt-12">
            <nav class="">
                <a href="/writings">Writings</a>
                <hr class="h-1 w-5 border-black" />
                <a href="/athletics">Athletics</a>
                <hr class="h-1 w-5 border-black" />
                <a href="/portfolio">Portfolio</a>
            </nav>

            <div class="my-10">
                <p>
                    I am a full time software engineer, part time athlete, and
                    constant explorer of new ideas. Currently based out of
                    Chattanooga, TN where I spend most of my time working with
                    local startups and training for athletic events.
                </p>
                <br />
                <p>
                    Online I have been the lead engineer for startups like
                    EquityMultiple and Logly, I've worked for Fortune 100
                    companies including Ogilvy and Twitter, and lately I've been
                    exploring the potential for AI to improve how we interact
                    with existing applications.
                </p>
                <br />
                <p>
                    Offline I have completed 12 triathlons, 8 marathons, 5 Hyrox
                    competitions, and explored hundreds of miles on some of the
                    most amazing trails throughout North America. I am a
                    certified Wilderness First Responder and encourage everyone
                    to spend more time in the great outdoors.
                </p>
            </div>
        </div>
    </div>
</Layout>
