---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Trenton Kennedy">
    <div class="max-w-[500px]">
        <img src="/headshot.jpg" alt="" width="250" class="py-4" />
        <p>
            I am a full time software engineer, part time athlete, and constant
            explorer. Currently based out of Chattanooga, TN where I spend most
            of my time working with startups and training for endurance events.
        </p>
        <br />
        <p>
            Online I have been the lead engineer for startups like
            <a href="https://equitymultiple.com/">EquityMultiple</a> and <a href="https://www.logly.world/">Logly</a>, I've also been employed by Fortune 100
            companies including <a href="https://www.ogilvy.com/">Ogilvy</a> and <a href="https://twitter.com">Twitter</a> through the years. Lately my
            work has me exploring the potential for AI to improve how we
            interact with existing applications.
        </p>
        <br />
        <p>
            Offline I have competed in triathlons, marathons, and multiple Hyrox
            competitions, I've also explored hundreds of miles on some of the most
            amazing trails throughout North America. I am a certified Wilderness
            First Responder and encourage everyone to spend more time in the
            great outdoors.
        </p>
    </div>
</Layout>
