---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
const pageTitle = "Fitness by Trenton Kennedy";
---

<Layout title={pageTitle}>
    <div>
        <h1 class="text-5xl font-bold">Portfolio</h1>
        <p>
            Online I have been the lead engineer for startups like
            EquityMultiple and Logly, I've worked for Fortune 100 companies
            including Ogilvy and Twitter, and lately I've been exploring the
            potential for AI to improve how we interact with existing
            applications.
        </p>

        <div class="my-10">
            <p>running score</p>
        </div>
    </div>
</Layout>
