---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
const pageTitle = "Prototypes by Trenton Kennedy";
const allWritings = await Astro.glob("../pages/prototypes/*mdx");
---

<Layout title={pageTitle}>
    <div>
        <h2 class="text-4xl font-bold mb-2">The Inventor</h2>
        <i>
            These are my original thoughts, ideas, and prototypes which aim to address challenges I find worth solving.</i>
        <div class="my-10 grid grid-cols-1 lg:grid-cols-3">
            {
                allWritings.map((article) => (
                    <div class="my-6">
                        <a href={article.url}>
                            <div class="w-[250px] h-[250px] overflow-hidden">
                                <Image
                                    src={
                                        article.frontmatter.cover
                                            ? article.frontmatter.cover
                                            : "/3b21e96676f7400fb61d071518714734.jpg"
                                    }
                                    width={250}
                                    height={250}
                                    alt={article.frontmatter.title || ""}
                                />
                            </div>
                            <span class="font-bold text-lg">
                                {article.frontmatter.title}
                            </span>
                            
                        </a>
                    </div>
                ))
            }
        </div>
    </div>
</Layout>
<style>
    h2 {
        font-family: "Bona Nova", serif;
    }
</style>
