<table class="table-auto">
    <thead>
        <tr>
            <th>Question</th>
            <th>ChatGPT</th>
            <th>Custom LLM</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>What is a Hyrox competition?</td>
            <td>90</td>
            <td>100</td>
            
        </tr>
        <tr>
        <td>
        What is the average finishing time for males 30-34 years old?
        </td>

            <td>90</td>
            <td>100</td>
        </tr>
        <tr>
        <td>
        In doubles how many times can partners swap places during the
            Ski Erg?
            </td>
            <td>90</td>
            <td>100</td>
        </tr>
    </tbody>
</table>
